
:root {
  --main-color: #768d7d;
}

h1 {
  width: 100%;
  color: var(--main-color);
}

.header {
  background-color: white;
  box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
  padding-top: 25px;
  padding-bottom: 25px;
}

.navigation a {
  color: var(--main-color);
  text-decoration: none;
  margin-right: 30px;
  padding-bottom: 5px;

}

.navigation a.active {
  border-bottom: 2px solid var(--main-color);
}

.navigation a:hover {
  border-bottom: 2px solid var(--main-color);
  transition: ease-in-out .2s;
}

.content {
  margin-top: 30px;
}

.project-page {
  display: flex;
  flex-wrap: wrap;
}

.project-list {
  width: 70%;
}

.project-form {
  width: 30%;
}

.project-form-item {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;
}

.project-form-item label {
  width: 35%;
}

.project-form-item > span {
  width: 65%;
}

.project-form-item span input {
  width: 100%
}
/*.project-form-item label {
  width: 50%;
}

.project-form-item input {
  width: 50%;
}*/
