
:root {
  --main-color: #768d7d;
  --main-color-dark: #596a5e;
}

h1 {
  width: 100%;
  color: var(--main-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 26px;
}

button {
    border: 1px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
    border-radius: 5px;
    padding: 7px 15px;
    line-height: 1;
}

button:disabled {
  opacity: 0.4;
}

button:hover {
  background-color: var(--main-color);
  color: white;
  transition: ease-in-out 0.2s;
}


.error-text {
    color: red;
    font-size: 10px;
    width: 20%;
    margin-left: 20px;
}

.app {
  position: relative;
  width: 100%;
}

.header {
  background-color: white;
  box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
  padding-top: 25px;
  padding-bottom: 25px;
}

.modal-wrapper {
  position: fixed;
  left: calc(50vw - 255px);
  top: 10%;
  z-index: 9999;
  box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
  background-color: white;
  width: 35%;
  min-width: 510px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.modal-wrapper:focus {
  outline: 0;
}

.modal-wrapper .form-item {
  display: flex;
}

.modal-wrapper .form-item label {
  width: 30%;
}
.form-item input {
  width: 100%;
}
.modal-wrapper .form-item .input-group {
  width: 50%;
}

.modal-wrapper .form-item + .form-item {
  margin-top: 10px;
}

.modal-wrapper h1 {
  font-size: 18px;
  margin-bottom: 30px;
}

.modal-wrapper button.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
}

button.modal-ok {
  width: 70px;
  align-self: flex-end;
  margin-top: 30px;
}

.navigation a {
  color: var(--main-color);
  text-decoration: none;
  margin-right: 30px;
  padding-bottom: 5px;

}

.navigation a.active {
  border-bottom: 2px solid var(--main-color);
}

.navigation a:hover {
  border-bottom: 2px solid var(--main-color);
  transition: ease-in-out .2s;
}

.content {
  margin-top: 30px;
}
